<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HarshPirate.SharePoint" version="15.0.4649.1000" targetFramework="net452" />
  <package id="HarshPirate.SharePointOnline.CSOM" version="16.0.4002.1211" targetFramework="net452" />
  <package id="HarshPointPirate.System.Management.Automation" version="6.3.9600.16394" targetFramework="net46" />
  <package id="Serilog" version="1.5.9" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.1.37-beta-23019" targetFramework="net452" />
  <package id="System.Management.Automation" version="6.1.7601.17515" targetFramework="net46" />
</packages>