<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Destructurama.Attributed" version="1.0.5" targetFramework="portable45-net45+win8" userInstalled="true" />
  <package id="Serilog" version="1.5.7" targetFramework="portable45-net45+win8" userInstalled="true" />
  <package id="System.Collections.Immutable" version="1.1.36" targetFramework="portable45-net45+win8" userInstalled="true" />
</packages>