<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Destructurama.Attributed" version="1.0.5" targetFramework="portable45-net45+win8" />
  <package id="JulieKoubova.SharePointOnline.CSOM" version="16.0.3104.1200" targetFramework="portable45-net45+win8" />
  <package id="Serilog" version="1.5.9" targetFramework="portable45-net45+win8" />
  <package id="System.Collections.Immutable" version="1.1.37-beta-23019" targetFramework="portable45-net45+win8" />
</packages>